{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="row ml-1">
    {% block header %}

    {% endblock header %}
    </div>
    <hr>

    <div class="row ml-1">
        <label for="sort_select">Сортировка:</label>
        <select id="sort_select">
            {% for choice in choices %}
                <option class="select_option" data-option="{{ choice.0 }}" {% if choice.0 == ordering %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for anime in anime_list %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <a href="{{ anime.get_absolute_url }}"><strong class="card-title">{{ anime }}</strong></a>
                    </div>
                    <div class="card-body">
                        <img class="card-image" src="{{ anime.image_url }}" alt="...">
                        <h1 id="rating">{{ anime.rating }}</h1>
                    </div>
                    <div class="card-footer text-center">
                        {% for category in anime.categories.all %}
                            <a href="{{ category.get_absolute_url }}"><span class="category">{{ category }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Search results pages">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page=1"><<</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page={{ page_obj.previous_page_number }}"><</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

                <li class="page-item disabled mr-2"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page={{ page_obj.next_page_number }}">></a></li>
                <li class="page-item mr-2"><a class="page-link" href="?{{ order_by }}page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <script type="text/javascript">

        var options = document.getElementsByClassName('select_option')
        var page = '{{ page }}'
        var page_number = {{ page_obj.number }}

        for (var i = 0; i < options.length; i++){
            options[i].addEventListener('click', function (){
                var order_by = this.dataset.option
                var url = "?order_by=" + order_by

                if(page === 'True'){
                    url += "&page=" + page_number
                }
                window.location.href = url
            })
        }

    </script>
{% endblock content %}
