{% extends 'base.html' %}

{% block title %}{{ head }} | {% endblock title %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for title in titles %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <a href="{{ title.get_absolute_url }}"><small><strong class="card-title d-flex align-items-center justify-content-center" style="height:35px;">{{ title }}</strong></small></a>
                    </div>
                    <img src="{{ title.image_url }}" alt="...">
                    <div class="card-footer align-items-center justify-content-center">
                        {% for category in title.categories.all %}
                            <a href="{{ category.get_absolute_url }}"><small>{{ category }}</small> </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Search results pages">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item mr-2"><a class="page-link" href="?page=1"><<</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

                <li class="page-item disabled mr-2"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item mr-2"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item mr-2"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                <li class="page-item mr-2"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}
