{% extends 'base.html' %}

{% block title %}
    {% if title.title_russian %}
        {{ title.title_russian }}
    {% else %}
        {{ title.title_english }}
    {% endif %} |
{% endblock title %}

{% block content %}
        <div class="row">
            <div class="col-md-3">
                <img src="{{ title.image_url }}" height="350" width="245" alt="...">
            </div>
            <div class="col-md-9">
                <h3>{{ title.title_romaji }}</h3>
                {% if title.title_russian %}
                    <h4>{{ title.title_russian }}</h4>
                {% else %}
                    <h4>{{ title.title_english }}</h4>
                {% endif %}
            <div class="border border-primary p-3">
                <div class="row">
                    <div class="col md-3 d-flex justify-content-center">
                        Формат
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        Источник
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        Эпизоды
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        Длительность
                    </div>
                </div>
                <div class="row">
                    <div class="col md-3 d-flex justify-content-center">
                        <p>{{ title.form }}</p>
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        <p>{{ title.source }}</p>
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        <p>{{ title.episodes }}</p>
                    </div>
                    <div class="col md-3 d-flex justify-content-center">
                        <p>{{ title.duration }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col md-12">
                        {{ title.description }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col md-6">
                        {% for category in title.categories.all %}
                            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                        {% endfor %}
                    </div>
                    <div class="col md-6">
                        {% for studio in title.studios.all %}
                            <a href="{{ studio.get_absolute_url }}">{{ studio }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
    </div>
{% endblock content %}
