body{
    background-color: #F5F5F5;
}

#content{
    margin-top: 75px;
}

.card-header{
    padding: 0;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    height: 3.5rem;
}

.card-title{
    font-size: 0.9rem;
}

.card-body{
    padding: 0;
}

.card-image{
    display: inline-block;
    width: 100%;
}

.card-footer{
    padding: 0;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    height: 3rem;
}

.category{
    font-size: 0.8rem;
    line-height: 0.4rem;
}

#rating{
    position: absolute;
    bottom: 48px;
    left: 0;
    color: #F5F5F5;
    background-color: black;
    opacity: 0.7;
}
